/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

* {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--andriod-btn-idle);
  background-image: url("assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: left top;
}

header {
  max-width: 69.375rem;
  margin: 0 auto;
}

.logo {
  padding-top: 2.5rem;
  padding-left: 1.5rem;
}

.bg-pattern-1 {
  display: none;
}

.intro-section {
  max-width: 69.375rem;
  margin: 4rem auto 0;
  padding: 0 1.5rem;
}

.main-heading {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
  letter-spacing: -0.0284090625em;
  color: #191826;
}

.main-paragraph {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  color: #191826;
  margin-top: 1.25rem;
}

.center-section {
  margin-top: 10.375rem;
}

.center-container {
  background-image: url("assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 37.5rem;
  background-color: #191826;
  border-radius: 0.75rem;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.center-info-container {
  background: #fa7453;
  border-radius: 0.75rem;
  z-index: 1;
  padding: 3rem;
}

.phone {
  width: 13rem;
  margin-top: -6.75rem;
  margin-bottom: 3rem;
}

.center-heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 125%;
  color: #fcfaf9;
}

.center-paragraph {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 156%;
  color: #fcfaf9;
  margin-top: 0.75rem;
}

.subscription {
  font-weight: 700;
  font-size: 4.0625rem;
  line-height: 80%;
  color: #fcfaf9;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2.5rem;
}

.month {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 160%;
  letter-spacing: -0.0125em;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4375rem;
  width: 100%;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 178%;
  letter-spacing: -0.01125em;
  border-radius: 0.75rem;
  padding: 1em;
  transition: all 0.7s;
}

.ios-btn {
  color: #fcfaf9;
  background: #191826;
}

.ios-btn:hover,
.ios-btn:active {
  background: #66e2dc;
}

.andriod-btn {
  color: #191826;
  background: #fcfaf9;
}

.andriod-btn:hover,
.andriod-btn:active {
  background: #ffb964;
}

footer {
  max-width: 69.375rem;
  margin: 24.375rem auto 5rem;
  padding: 0 1.5rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-container {
  display: flex;
  align-items: center;
}

.footer-info {
  margin-top: 2rem;
}

.copyright {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  color: #191826;
}

.email {
  font-weight: 700;
  transition: all 0.3s ease-in;
}
.email:hover {
  cursor: pointer;
  color: #fa7453;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 4rem;
}

.icon {
  width: 1.25rem;
  transition: all 0.3s ease-in;
}

.icon:hover {
  filter: invert(59%) sepia(16%) saturate(2145%) hue-rotate(322deg)
    brightness(98%) contrast(100%);
}

@media screen and (min-width: 37.5rem) {
  body {
    background-image: url("assets/bg-main-tablet.png");
    background-position: center top;
  }

  .logo {
    padding-top: 3.8125rem;
    padding-left: 2.5rem;
  }

  .bg-pattern-1 {
    display: block;
    position: absolute;
    top: -2.5rem;
    right: 0;
    z-index: -1;
    width: 16.625rem;
  }

  .intro-section {
    margin-top: 5.9375rem;
    padding-left: 2.5rem;
    z-index: 9999;
  }

  .text {
    max-width: 32.5rem;
  }

  .main-heading {
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: -0.0454545625em;
  }

  .main-paragraph {
    font-size: 1.125rem;
    line-height: 156%;
    margin-top: 1.75rem;
  }

  .center-section {
    padding: 0 2.5rem;
    margin: 15.625rem auto 0;
  }

  .phone {
    width: 16.875rem;
    margin-top: -20.625rem;
    margin-bottom: 0;
  }

  .center-container {
    grid-template-columns: 1fr 1fr;
    background-size: contain;
  }

  .center-info-container {
    max-width: 25rem;
    margin-left: -8.625rem;
    margin-bottom: -15.3125rem;
  }

  footer {
    max-width: 69.375rem;
    margin: 11.4375rem auto 5.3125rem;
    padding: 0 2.5rem;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-info {
    max-width: 22.875rem;
  }

  .logo-info {
    display: flex;
    flex-direction: column;
  }

  .social-icons {
    margin-top: 0;
  }
}

@media screen and (min-width: 61.125rem) {
  body {
    background-image: url("assets/bg-main-desktop.png");
  }

  .bg-pattern-1 {
    width: 19.5rem;
  }

  .intro-section {
    margin-top: 7.9375rem;
  }

  .text {
    max-width: 63.4375rem;
  }

  .main-heading {
    font-size: 5.5rem;
    letter-spacing: -0.0625em;
  }

  .main-paragraph {
    font-size: 1.25rem;
    line-height: 170%;
    margin-top: 2.5rem;
    max-width: 51.5625rem;
  }

  .center-section {
    max-width: 69.375rem;
    margin: 20.0625rem auto 0;
  }

  .phone {
    width: 19.5rem;
    margin-top: -24.0625rem;
    margin-left: -8.4375rem;
  }

  .center-info-container {
    padding: 3.625rem 3.375rem 3rem;
    max-width: 27.875rem;
    margin-left: 0;
    margin-bottom: -12.8125rem;
  }

  .center-heading {
    font-size: 2.5rem;
    line-height: 130%;
  }

  .center-paragraph {
    font-size: 1.25rem;
    line-height: 170%;
    margin-top: 1.375rem;
  }

  .btn-container {
    margin-top: 2.875rem;
  }

  footer {
    max-width: 69.375rem;
    margin: 12.625rem auto 5.6875rem;
  }

  .footer-container {
    flex-direction: row;
  }

  .footer-info {
    margin-top: 0;
  }

  .logo-info {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0;
    gap: 8.5625rem;
  }

  .logo-container {
    margin-bottom: 0;
  }
}
